1. record movies that have been watched
    1.1 record name of the movies
    1.2 record date of the movie watched - default to today
    1.3 record rating of the movie
    1.4. save the movie in the local storage
2. see the list of movies that have been watched
    2.1 list shows name of the movie, watch date, rating
    2.2 data from omdbapi
        2.2.1 poster of the movie
        2.2.2 genre/s of the movie
3. stats on the movies that have been watched
    3.1 average rating of the movies given by you
    3.2 total runtime of the movies watched by you
    3.3 other stats cool to have(optional)
        3.3.1 rating from the other sources
        3.3.2 most watched genre
- keeping api call in the addMovie will update the get data function everytime
- keeping api call in the dashboard will delay the state of genre state


        import React, { useState } from 'react'
import { Form, FormGroup, Label, Input, Container, Button } from 'reactstrap'
import moment from 'moment'

interface FormData {
    (resFormData: {
        rating:number, 
        title:string, 
        date: string
    }): void

}
interface ResForm {
    rating:number, 
    title:string, 
    date: string
}

interface MovieFormProps {
    formData: FormData
}

const MovieForm: React.FC<MovieFormProps> = (props) => {


    const [rating, setRating] = useState(1)
    const [title, setTitle] = useState("")
    const [date, setDate] = useState(moment(new Date()).format('YYYY-MM-DD'))

    let resForm: ResForm[] = []

    const handleSubmit = async (e: React.SyntheticEvent) => {
        e.preventDefault()
        resForm.push({
            rating: rating,
            title: title,
            date: date
        })
    }
    console.log("form data",resForm)
    props.formData(resForm)

    return (
        <Container style={{ marginTop: "100px" }}>
            <Form onSubmit={handleSubmit}>
                <FormGroup>
                    <Label for=""><h3>Add a new movie</h3></Label>
                </FormGroup>
                <FormGroup>
                    <Label for="movieTitle">Movie Title</Label>
                    <Input
                        type="text"
                        name="title"
                        id="title"
                        placeholder="e.g. Iron Man"
                        value={title}
                        onChange={e => setTitle(e.target.value)}
                    />
                </FormGroup>
                <FormGroup>
                    <Label for="exampleDate">Date</Label>
                    <Input
                        type="date"
                        name="date"
                        id="Date"
                        placeholder="date placeholder"
                        value={date}
                        onChange={e => setDate(e.target.value)}
                    />
                </FormGroup>
                <FormGroup>
                    <Label for="rating">Rating: {rating}</Label>
                    <Input
                        type="range"
                        id="movieRating"
                        name="rating"
                        min="0"
                        max="5"
                        value={rating}
                        onChange={e => setRating(parseInt(e.target.value))} />
                </FormGroup>
                <Button color="success">Add</Button>
            </Form>
        </Container>
    )
}

export default React.memo(MovieForm)
